#hero .banner-wrapper .banner-item-link {
  background: #000;
  color: #fff;
  border-color: #fff;
}
#hero .banner-wrapper .banner-item-title,
#hero .banner-wrapper .banner-item-description {
  background-color: #000;
  color: #fff;
  padding: 3px 7px;
}
#hero .owl-dots .owl-dot {
  background: #fff;
  border: 2px solid #000;
  opacity: 1;
}
#hero .owl-dots .owl-dot.active {
  background: #000;
}
#hero .owl-nav .owl-prev span,
#hero .owl-nav .owl-next span {
  color: #fff;
  background: #000;
  opacity: 1;
}
#hero .owl-nav .owl-prev:hover span,
#hero .owl-nav .owl-next:hover span {
  opacity: 1;
  color: white;
}
